body{
       background-image: url(image/baground1.webp);
       background-size: cover;
       background-repeat: no-repeat;
        
}

h2{
      color: rgb(255, 255, 255);
      font-size: 3em;
      width: 90%;
      max-width: 600px;
      margin-left: 60%;
      margin-right: 30%;
}

.Stopwatch{
       width: 90%;
       max-width: 600px;
       max-height: 800px;
       background-image: linear-gradient(rgba(149, 142, 142, 0.8),rgba(110, 99, 99, 0.8)),url(image/baground.jpg);
       background-size: cover;
       background-position: center;
       text-align: center;
       padding: 10px 0;
       color: #000000;
       margin: 100px auto 0;
       margin-right: 30%;
       box-shadow: 0 10px 10px  rgba(0,0,0,0.);
       border-radius: 50px 0px 50px 0px;
       
} 
.Stopwatch h1{
                margin-top: 60px;
                font-size: 64px;
                font-weight: 300;
}
.buttons{
       display: flex;
       align-items: center;
       justify-content: center;
}
.buttons img{
              width: 50px;
              margin: 0 20px;
              cursor: pointer;
              background-color: #000000;
              border-radius: 50%;
}
/* Animation */
pre{
       margin-left: 15%;
       font-size: 20px;
       color: #ffffff;
       letter-spacing: 5px;
       width: 100%;
       white-space: nowrap;
       padding: 10px;
       border-right: 5px;
       overflow: hidden;
       animation: typing 10s, cursor .4s step-end infinite alternate;
}

@keyframes cursor{
       50%{border-color: transparent}
}
@keyframes typing {
       from{width: 0}
}